<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>Utils</title>
</head>
<body>
  <h1>utils</h1>
    <ul>
        <% pages.forEach((page) => { %>
            <li><a href="<%= page %>"><%= page %></a></li>
        <% }); %>
    </ul>
</body>
</html>
