* {
  font-family: system-ui;
  line-height: 1.5;
}

body {
  background-color: var(--color-nord0);
  color: var(--color-nord6);
  margin: 0 auto;
  padding: 1rem;
  max-width: 500px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input,
select {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: var(--color-nord6);
  border: 1px solid var(--color-nord3);
  background-color: var(--color-nord1);

  &:focus-visible {
    outline: 3px solid var(--color-nord7);
  }
}

#output {
  font-family: monospace;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--color-nord4);
  border: 1px solid var(--color-nord5);
  color: var(--color-nord0);
  border-radius: 0.5rem;
  margin-block-start: 2rem;
  cursor: pointer;

  &:empty {
    display: none;
  }

  &:hover {
    opacity: 0.75;
  }
}

button {
  cursor: pointer;
}
