:root {
  --color-nord0: #2e3440; /* Dark background */
  --color-nord1: #3b4252; /* Darker gray */
  --color-nord2: #434c5e; /* Dark gray */
  --color-nord3: #4c566a; /* Medium gray */
  --color-nord4: #d8dee9; /* Light gray */
  --color-nord5: #e5e9f0; /* Lighter gray */
  --color-nord6: #eceff4; /* Almost white */
  --color-nord7: #8fbcbb; /* Cyan */
  --color-nord8: #88c0d0; /* Light blue */
  --color-nord9: #81a1c1; /* Blue */
  --color-nord10: #5e81ac; /* Dark blue */
  --color-nord11: #bf616a; /* Red */
  --color-nord12: #d08770; /* Orange */
  --color-nord13: #ebcb8b; /* Yellow */
  --color-nord14: #a3be8c; /* Green */
  --color-nord15: #b48ead; /* Purple */
}

* {
  font-family: system-ui;
  line-height: 1.5;
}

body {
  background-color: var(--color-nord0);
  color: var(--color-nord6);
  margin: 0 auto;
  padding: 1rem;
  max-width: 500px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input,
select {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: var(--color-nord6);
  border: 1px solid var(--color-nord3);
  background-color: var(--color-nord1);

  &:focus-visible {
    outline: 3px solid var(--color-nord7);
  }
}

#output {
  font-family: monospace;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--color-nord4);
  border: 1px solid var(--color-nord5);
  color: var(--color-nord0);
  border-radius: 0.5rem;
  margin-block-start: 2rem;
  cursor: pointer;

  &:empty {
    display: none;
  }

  &:hover {
    opacity: 0.75;
  }
}

button {
  cursor: pointer;
}

#toaster {
  display: flex;
  position: absolute;
  flex-direction: column-reverse;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  justify-content: center;
  pointer-events: none;
}

.toast {
  background-color: var(--color-nord6);
  color: var(--color-nord1);
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  margin-inline: auto;
  transition-duration: 0.2s;
  transition-property: padding, height, margin-top, transform, opacity;
  overflow: hidden;
  box-shadow: 0 1px 4px #00000020;
  margin-top: 1rem;
  max-width: 30rem;

  &.info {
    background-color: #5e81ac;
  }

  &.success {
    background-color: #a3be8c;
  }

  &.error {
    background-color: #bf616a;
  }

  @starting-style {
    margin-top: 0;
    padding-block: 0;
    height: 0;
    transform: translateY(3rem) scale(0.75);
    opacity: 0;
  }

  &.animate-out {
    margin-top: 0;
    padding-block: 0;
    height: 0;
    transform: translateY(3rem) scale(0.75);
    opacity: 0;
  }
}
